<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @Html.Partial("_Bootstrap")
    <link type="text/css" rel="stylesheet" href="~/Styles/Site.css" />
    <script type="text/javascript" src="~/Scripts/jquery-1.8.0.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <title>@ViewBag.Title</title>
</head>
<body>
    @Html.Partial("_Menu")

    <div class="container">
        @RenderBody()
    </div>

    <div id="footer">
        <div class="container">
            &copy; @DateTime.Now.Year - eBiblio
        </div>
    </div>
</body>
</html>
