@model eBiblio.ViewModels.CreerUtilisateurViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Créer un compte utilisateur";
}

<h2>Créer un compte </h2>
@using (Html.BeginForm())
{
<div class="form-horizontal">
    <div class="form-group">
        @Html.LabelFor(model => model.Utilisateur.Pseudo, new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.Utilisateur.Pseudo, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Utilisateur.Pseudo, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Utilisateur.MotDePasse, new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            @Html.PasswordFor(model => model.Utilisateur.MotDePasse, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Utilisateur.MotDePasse, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.ConfirmationMotDePasse, new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            @Html.PasswordFor(model => model.ConfirmationMotDePasse, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ConfirmationMotDePasse, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-6 text-center">
            <input type="submit" value="Créer" class="btn btn-warning" />
        </div>
    </div>
</div>
}
