@model eBiblio.Models.Livre
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Afficher - Information sur un livre";
}
<h1>@Model.Titre</h1>
<p>De @Model.Auteur.Nom</p>
<p>Parution : @Model.DateDeParution.ToString("dd / MM / yyyy")</p>
@if (@Model.Client != null)
{
    <p>Emprunté par : @Model.Client.Nom (@Model.Client.Email)</p>
}
else
{
    <p>Cet ouvrage est libre.</p>
}
